header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-heading {
  margin: 10rem 0;
  font-size: 3rem;
  font-weight: bold;
}

main .boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 5rem;
  padding: 0 2.5rem;
}

main .boards .board-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

main .boards .board-container .board-title {
  background-color: transparent;
  color: #fff;
  margin-bottom: 1.6rem;
  font-size: 3rem;
  font-weight: bold;
}

main .boards .board-container .tasks-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  min-height: 3rem;
}

main .boards .board-container .tasks-list .task-cont {
  position: relative;
  border-radius: 0.5rem;
  width: 25rem;
  height: 3rem;
}

main .boards .board-container .tasks-list .task-cont .task,
.add-btn {
  width: 25rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  padding: 0 1.4rem;
}

main .boards .board-container .tasks-list .task-cont .task:disabled {
  background-color: #fff;
  color: #000;
}

main .boards .board-container .tasks-list .task-cont .task {
  cursor: move;
}

main .boards .board-container .tasks-list .task-cont .control-btns {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.tasks-list .task-cont .control-btns button {
  padding: 0.4rem;
  color: #fff;
  border-radius: 50rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
  opacity: 0.6;
}

.tasks-list .task-cont .control-btns button:hover {
  /* transform: scale(1.1); */
  opacity: 1;
}
.tasks-list .task-cont .control-btns button.edit {
  color: #c20e68;
}
.tasks-list .task-cont .control-btns button.remove {
  color: #f00;
}
